<nlog>

  <!--
  Popis 'value' doplňkových parametrů pro definici cesty k souboru logFile.txt:
	basedir   -   představuje označení kořenového adresáře samotné aplikace,
	shortdate -   název adresáře ve tvaru: 2021-11-03 pro aktuální datum,
	
	Nicméně lze použít i absolutní tvar: např.: value="c:\Logs"
  -->
  
  <variable name="logDirectory" value="${basedir}\_Logs\${shortdate}"/>

</nlog>
